{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Remove a Side Picture from a Product
{% endblock %}

{% block content %}
<div class="row p-2" style="width:100%; ">
<br>
    <div class=" mx-auto col-12 col-sm-12 col-md-6 col-lg-5 p-2 mb-5" >
    <div style="border: 2px solid rgb(240, 173, 78);background-color: #DCDCDC">
    {% if not sidePicDeletion %} 
	
		<br>
		<h1 class="product_title text-center">
			Delete a Side Picture of a Product
		</h1>
		<br>
		<div class=" mx-auto bg-light" style="" >
			<br>
            {% if not selSideProd %}
			<p class="text-center">Please Select a Product to Delete a Side Picture of It</p>
            {% endif %}

            <form  method="post" class="p-1">
                {% csrf_token %}
                    <p class="p-1">{{ lookupProd | crispy }}</p>
                    <input type="hidden" id="" name="subForm" value="findSideProd">
                    
            </form>
            
            
            
            {% if caropics %}
                    <div class="m-auto bg-white col-12 " style="height:300px;width:60%; border-radius: 15px!important;border: 2px solid rgb(240, 173, 78);border-radius: 20px;">
                        {% for caropic in caropics %}
                        
                        <div class="delSideSlides mx-auto my-auto " style="height:100%;display: flex;align-items: center; ">
                            <div stile="height:10%;width:100%;" class="mx-auto my-2 ">
                            <p class="mx-auto" style="width:50%;display:inline-flex;"><span class="mx-auto" style="text-align:center;"><strong>{{ forloop.counter}} of {{caropics|length}}</strong></span></p>
                            
                            <form method="POST" style="width:40%;display:inline-flex;"  class="p-1" >
                            {% csrf_token %}
                            
                            <button type="submit" name="pic_to_del" value="{{caropic.id}}">
                            <i class="text-danger mx-auto fas fa-trash-alt fa-2x"></i>
                            </button>
                            </form>
                            </div>
                            <div style="height:90%;width:100%;">
                            <img src="{{ caropic.image.url }}" class="mx-auto my-auto " style="height:70%;width:100%;object-fit:scale-down" >
                            </div>
                            
                        </div>
                         
                        {% endfor %}
                        
                        {% if caropics|length > 1 %}
                        <!-- Next and previous buttons -->
                        <a class="prev rounded" onclick="plusSideSlides(-1)">&#10094;</a>
                        <a class="next rounded" onclick="plusSideSlides(1)">&#10095;</a>
                        {% endif %}
                        
                    </div>    
            {% else %}
            {% if selSideProd %}
            <p style="color:red">{{selSideProd}} has No Side Pictures</p>
            {% endif %}

            {% endif %}
             <br>

    
    
	{% else %} 
    
	
		<br>
		<h1 class="product_title text-center">Side Picture Deleted</h1>
        <br>
		<br>
		<div class="container">
			<h3 style = "text-transform:capitalize;" > Dear {{Dear}},</h3>
            <h4>    
				<br>
                The Side Picture has been taken off <span class="text-primary"><i>{{TheSidePic.product}}</i></span>.
                <br>
                
            </h4>
            
            <a href="{% url 'del_side_pic' %}">Delete Another Side Picture</a>
		</div>
    <br><br><br><br>

	
	
    {% endif %}
	</div>





    </div>




<script type="text/javascript">

var slideIndex = 1;
showSlides(slideIndex);

function plusSideSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("delSideSlides");
  
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
      

  }
  
  slides[slideIndex-1].style.display = "block";


}




</script>




{% endblock %}    