
html { visibility:hidden; }

.pageOverlay {
    top: 0;
    left: 0;
    position: sticky;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: block;
    background-image: url("mobile-ring.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color:  #f3f3f3;
}
/* {% static 'JS/BTT.js' %} */


/* .addedToCart {
    top: 0;
    left: 0;
    position: sticky;
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: block;
    background-image: url("cart-148964_1280.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color:  #f3f3f3;
} */

body{
    position:relative;
    

    background: #f3f3f3;
    
    
    
    
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
     background: transparent;  /*Optional: just make scrollbar invisible */
}
/* .nav_back{
    background: url(/static/img/city-3947609_640.jpg);

} */
a:hover{ 
    text-decoration: none!important; 
} 

.product_title{
    font-size:  20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top:15px;
    padding-bottom:10px;
}

.product_description{
    font-size:  16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    
}
.cart_table{
    min-width:400px;
    font-size: 14px;
}

.cart_thead{
    font-weight: normal;
    text-transform:uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
    

}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 50px!important;
    right: 20px;
}

.sorter {
    
    height: 100%;
    width: 100%;
    
    
}

@media only screen and (max-width: 600px) {
  .main_cart {
    width:0;
    visibility: hidden;
  }
}

/* @media only screen and (max-width: 600px) {
  .main_cart {
    display: none;
  }
} */

/* .main_cart{
    width:0;
    visibility: hidden;
} */

.btt-link {
    cursor: pointer;
}

#grad1 {
   
  height:50px;
  background-color: rgba(243,243,243,1));
  background-image: -ms-linear-gradient(to top, rgba(255,0,0,0), rgba(243,243,243,1)); 
  background-image: -o-linear-gradient(to top, rgba(255,0,0,0), rgba(243,243,243,1)); 
  background-image: -webkit-linear-gradient(to top, rgba(255,0,0,0), rgba(243,243,243,1)); 
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(243,243,243,1));
}
.row{
    margin:0!important;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
/* .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;} */

.stripe-button-el{

    width:100%!important;
    display:block!important;
    font-size: 20px !important;
    margin-bottom: 20px;
    
}

.stripe-button-el span {

    height:36px!important;
    
    
    
}

.cart_table{
    min-width: 00px;
}

.errorlist li{

    color:red;
    font-weight: bold;
    
}

.custom_div{
    margin-bottom: 20px;
}

.carousel-caption h5 {
    position:relative;
    text-align: left;
    
}




-------------------------------------------------------------------------------
---------------------------------------------------------------------------------

/* * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;} */

/* .mySlides {display: none} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: rgb(240, 173, 78);

}



/* Fading animation */

@-webkit-keyframes gradFade {
  from {opacity: .4} 
  to {opacity: 1}
}


@keyframes gradFade {
  from {opacity: .0} 
  to {opacity: 1}
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.gradient-text {
    background-color: rgb(0, 81, 255);
    /* background-image: linear-gradient(90deg,rgb(139,0,0) 20%, rgba(51, 71, 255, 0.075),navy); */
    background-image: linear-gradient(90deg,rgb(77, 9, 60) 5%, rgba(51, 71, 255, 0.075),navy );
    background-size: 105%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.15s ease forwards;
}
.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.15s ease-in forwards;
}
@keyframes rainbow-text-simple-animation {
    


0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }


}
@keyframes rainbow-text-simple-animation-rev {

 0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }

}    