{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>


	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />




	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Srisakdi:wght@700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />


    <script src="{% static 'JS/preserveScroll.js' %}" type="text/javascript"></script>
	<script src="{% static 'JS/BTT.js' %}" type="text/javascript"></script>
    
	<script src="https://kit.fontawesome.com/c2cf02c5ba.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
	<script src="https://js.stripe.com/v3/"></script>

	<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>



	<title>{% block title %} {% endblock %}</title>
</head>

<body id="contenuto">

    {% include 'navbar.html' %} 

	{% block content %}

	{% endblock %}

    {% include 'footer.html' %}
</body>

<script src="{% static 'JS/topCarousel.js' %}" type="text/javascript"></script>
<script src="{% static 'JS/fadeProds.js' %}" type="text/javascript"></script>
<script src="{% static 'JS/fadeTop.js' %}" type="text/javascript"></script>



</html>

<script type="text/javascript">
$(document).ready(function() {
  document.getElementsByTagName("html")[0].style.visibility = "visible";
});
</script>