<div class="btt-button border-warning bg-dark" id="backtotop" style="visibility:hidden; border-radius: 15px!important;z-index: 3;">
      <a class="btt-link d-flex h-100" onclick="winTop()" >
        <i class="fas fa-arrow-up text-warning mx-auto my-auto"></i>
      </a>
    </div>

<footer class="bg-dark text-white" style="position:fixed; bottom:0; left:0; width:100%;z-index:3;height:25px;">
	<div class="container">
		<p class="lead text-center" style="font-size:15px">
			Copyright &copy; 2020 Mobile Central
		</p>
	</div>
</footer>