<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="position:sticky;top:0;width:100%;z-index:3;height:80px;">
        
        <a href="{% url 'show_all' %}" class="navbar-brand"><i class="fas fa-mobile-alt text-warning fa-2x"></i></a>
        <a href="/" class="text-warning mx-auto rounded" style= "text-decoration:none;padding:3px;text-align: center;border:1px solid rgb(240, 173, 78);"><b>MOBILE CENTRAL</b></a>
        <button type="button" name="button" class="navbar-toggler bg-warning" data-toggle="collapse" data-target="#nav" ><span class="navbar-toggler-icon" ></span></button>	
        <div class="collapse navbar-collapse justify-content-between bg-dark py-2 px-1 rounded" id="nav" style="box-sizing: border-box;">
        <ul class="navbar-nav">
			<li class="nav-item dropdown bg-dark"><a class="nav-link text-light text-uppercase font-weight-bold px-2 dropdown-toggle" href="" data-toggle="dropdown">Categories</a>
				<div class="dropdown-menu ">
				{% for category in clinks %}
				    <a class="dropdown-item " href="{% url 'types' category.id %}">{{category.name}}</a>
				{% endfor %}
                    <a class="dropdown-item" href="{% url 'show_all' %}"><i class="fas fa-arrow-left"></i> All Products</a>
				</div>
			</li>
            <li class="nav-item dropdown bg-dark"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="" data-toggle="dropdown">Brands</a>
				<div class="dropdown-menu">
                {% for manufactorer in mlinks %}
                    <a class="dropdown-item" href="{% url 'brand' manufactorer.id %}">{{manufactorer.name}}</a>
                {% endfor %}
                    <a class="dropdown-item" href="{% url 'show_all' %}"><i class="fas fa-arrow-left"></i> All Products</a>
				</div>
			</li>
			<li class="nav-item bg-dark"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'contact' %}">Contact</a></li>
			<li class="nav-item bg-dark"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">About</a></li>
            
            {% if request.user.is_authenticated and request.user.first_name %}
            <li class="nav-item dropdown bg-dark"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">Welcome, {{ request.user.first_name }} <i class="fas fa-user-circle"></i> 
            </a>
            <div class="dropdown-menu">
            <a href="{% url 'order_history' %}" class="dropdown-item">Order History</a>
            </div>
            
            </li>   
            <li class="nav-item bg-dark"><a class="nav-link text-light text-uppercase font-weight-bold px-2" href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-circle"></i> </a></li>
            {% else %}
            <li class="nav-item bg"><a class="nav-link text-light text-uppercase font-weight-bold px-2 " href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i> </a></li>
            <li class="nav-item bg"><a class="nav-link text-light text-uppercase font-weight-bold px-2" href="{% url 'signin' %}">Sign In <i class="fas fa-sign-in-alt"></i> </a></li>
            {% endif %}
			{% if item_count > 0 %}
            <li class="nav-item">
				<a class="nav-link text-light text-uppercase font-weight-bold px-1" href="{% url 'cart_detail' %}">
					<i class="fas fa-shopping-cart"></i>({{item_count}})
				</a>
            {% endif %}    
			</li>
            {% if request.user.is_authenticated and request.user.is_staff %}
            <li class="nav-item dropdown bg-dark"><a class="nav-link text-danger text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">Product Managment</a>
            <div class="dropdown-menu">
            <a href="{% url 'add_product' %}" class="dropdown-item">Add a Product</a>
            <a href="{% url 'add_brand' %}" class="dropdown-item">add a Manufactorer</a>
            <a href="{% url 'edit_product' %}" class="dropdown-item">Edit or Delete a Product</a>
            <a href="{% url 'add_side_pic' %}" class="dropdown-item">Add a Side Picture to a Product</a>
            <a href="{% url 'del_side_pic' %}" class="dropdown-item">Delete a Side Picture of a Product</a>
            </div>
            </li>
            {% endif %} 
		</ul>
        
		<form class="form-inline ml-2 " method="GET" action="{% url 'products' %}">
			<div class="input-group ">
				<input type="text" class="form-control " name="q" placeholder="Find your new phone">
				<div class="input-group-append">
					<button type="submit" name="button" class="btn btn-warning "><i class="fas fa-search"></i></button>
				</div>
			</div>
		</form>       
        </div>
</nav>