<div><br></div>
{% if products %}
<div class="row d-none d-md-block slidesContainer " style="">
        
        <div class="col-7 m-auto mt-3 bg-white " style="display: flex;height:500px;object-fit:scale-down; background-image: radial-gradient(
      circle at top right,
      red,
      rgb(243, 243, 243) 50%
    );border-radius: 20px;">
        
                        
                        {% for product in products %}
                        <div class="mySlides mx-auto my-auto " style="height:90%;width:100%;animation-name: gradFade;animation-duration: .61s; ">
                            <a href="{{product.get_url}}" class="my-auto">
                            <img src="{{ product.image.url }}" class="mx-auto my-auto px-1 d-inline py-3" style=" float:left;width:30%;height:100%;object-fit:scale-down" >
                            <div class="  mx-auto my-auto" style="width:66%;height:99%;float:left;position:relative;top:20px;z-index: 1;overflow-y: scroll;">
                            <h5 class=" mx-auto my-auto text-left  pl-1 pr-5 gradient-text" >{{product.name}}</h5>
                            <p class=" mx-auto my-auto text-left pl-1 pr-3 gradient-text" style="font-size:1.061rem; " >{{product.description}}</p>
                            </div>
                            </a>
                        </div>
                        {% endfor %}
                        

                        <!-- Next and previous buttons -->
                        <a class="prev rounded" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next rounded" onclick="plusSlides(1)">&#10095;</a>
                        
                        <br>

        </div>
</div>
{% endif %}


	<div class="py-0" style="top:80px;position: sticky;z-index:2;">
		<div class="container" style="">
			<div class="row " style="background: rgba(243,243,243,1);border-radius:20px;">
				
                <div class="col-10 mx-auto my-0 p-1 text-center">
					{% if not new_arrivals_page %}
					<h2 class="text-capitalize font-weight-bold"
						style="background: rgba(243,243,243,1);border-radius:20px">
						{{ callheader }} {{ AnnSort }}
					</h2>
					{% else  %}
					<h2 class="font-weight-bold text-danger" style="background: rgba(243,243,243,1);border-radius:20px">
						{{ callheader }} {{ AnnSort }}
					</h2>
					{% endif %}

                    {%if cart_items %}
                    {% if warnUser %}
                    <p class="text-danger bg-white mx-auto p-2  border border-danger rounded"><b>Please note, since your last visit:</b> {{ warnUser|linebreaksbr }} </p>
                    {% endif %}
                    {% endif %}
					
                </div>

              

			</div>

        
		</div>
        {% if products %}
					<div class="row grad2" id="grad2" style="background:rgba(243,243,243,1);height:50px;" >
                        <div class="col-8 col-sm-5 col-md-4 col-lg-4 col-xl-2  my-auto mx-auto" style="width:50%;height:90%;">
						<div class="row" style="background:rgba(243,243,243,1);height:100%;">
							<div class="col-6 text-center mx-auto">
                                {% if num %}
								<a href="{% url thisView num %}?sort=price&direction={{euroDir}}&euroSortL={{ euroSortL }}&euroSortR{{ euroSortR }}"  class="sorter btt-link d-flex h-100 bg-dark p-1 my-auto mx-auto" style=" border-radius: 15px!important;">
                                {% elif search_term %}
                                <a href="{% url 'products' %}?sort=price&direction={{euroDir}}&q={{search_term}}&euroSortL={{ euroSortL }}&euroSortR{{ euroSortR }}"  class="sorter btt-link d-flex h-100 bg-dark p-1 my-auto mx-auto" style=" border-radius: 15px!important;">
                                {% else %}
                                <a href="{% url thisView %}?sort=price&direction={{euroDir}}&euroSortL={{ euroSortL }}&euroSortR{{ euroSortR }}"  class="sorter btt-link d-flex h-100 bg-dark p-1 my-auto mx-auto" style=" border-radius: 15px!important;display: flex;justify-content: center;">
                                {% endif %}
									<i class="fas fa-euro-sign {{ euroSortL }} text-warning my-auto ml-3 " style="width:30%"></i>
                                    <i class="text-dark" style="visibility: hidden;">.</i>
                                    <i class="fas fa-chevron-right text-warning mx-auto" style="align-self: center;font-size:16px;width:18%"></i >
                                    <i class="text-dark" style="visibility: hidden;">.</i>
                                    <i class="fas fa-euro-sign {{ euroSortR }} text-warning my-auto mr-3" style="width:30%"></i>
									
								</a>
							</div>
							<div class=" col-6 text-center mx-auto" >
                                {% if num %}
								<a href="{% url thisView num %}?sort=name&direction={{alphaDir}}&alphaArrow={{alphaArrow}}"  class="sorter btt-link d-flex h-100 bg-dark p-1  mx-auto"  style=" border-radius: 15px!important;">
                                {% elif search_term %}
                                <a href="{% url 'products' %}?sort=name&direction={{alphaDir}}&q={{search_term}}&alphaArrow={{alphaArrow}}"  class="sorter btt-link d-flex h-100 bg-dark p-1  mx-auto"  style=" border-radius: 15px!important;">
                                {% else %}
                                <a href="{% url thisView %}?sort=name&direction={{alphaDir}}&alphaArrow={{alphaArrow}}"  class="sorter btt-link d-flex h-100 bg-dark p-1  mx-auto"  style=" border-radius: 15px!important;">
                                {% endif %}
									<i class="fas {{alphaArrow}} fa-2x text-warning  my-auto mx-auto" ></i>
								</a>
							</div>
						</div>
					</div>
                    </div>
					
					{% endif %}
        
     <div class="row" id="grad1" >
	    </div>   
		

    </div>



    <div class="container" id="products" style="">

		<div class="row mx-auto"  style="">

			{% for product in products %}
			<div class="col-12 mx-auto  col-sm-6 col-lg-4 col-xl-3 pup">

				<div class="card mb-4 " style="border: 3px solid rgb(240, 173, 78);border-radius: 20px;height:91%">
					<div class="mx-auto my-1" style="background-color:inherit;border-radius:20px;height:20px">
						{% if product.latest and not new_arrivals_page %}
						<div class="px-3 my-1"
							style="diplay:inline;background-color:red;color:white;border-radius:20px;margin-top:1px;">
							<p class="my-auto">New Arrival !</p>
                            
						</div>
                        <br>
						{% elif product.best %}
						<div class="px-3 my-1"
							style="diplay:inline;background-color:green;color:white;border-radius:20px;">
							<p class="my-auto">Best Seller !</p>
						</div>

						{% else %}
						<div class="px-1" style="margin-top:1px;visibility: hidden;">
							<p>.</p>
						</div>
						{% endif %}
					</div>
					<div class="p-1 " style="display: flex;height:300px">
						<a href="{{product.get_url}}" style="width:100%;height:100%" class="">
							<img  src="{{product.image.url}}" alt="{{product.name}}" class="card-img-top mx-auto my-1" style="height:100%;object-fit:scale-down">
                            </a>
					</div>
					<div class="" style="background:transparent;border-color:transparent;margin-top:15px;">
						<p class="font-weight-bold px-2 mx-auto my-auto pb-2 "
							style="display: block;height:10px;box-sizing:content-box;font-size:medium">{{product.name}}
						</p>                       
                    
                        {% if not product.stock == 0 %}
                        <p class="text-info font-weight-bold px-2" style="display: flex;justify-content:space-between;padding-top:30px;font-size:16px">
                            
                            

                            {% if cart_items %}
                            <span class="mx-auto my-auto" style="display: flex;justify-content:space-between;width:40%;border: 1px solid rgb(240, 173, 78); border-radius: 20px;height:91%;background-color:#f0f0f0;">

                                {% for aitem in cart_items %}
                                    {% if aitem.product.id == product.id and forloop.last%}
                                        {% if aitem.quantity < product.stock  %}
                                            <a href="{% url 'add_cart' product.id %}?source=ind" class=" my-auto mx-auto " onclick="SameScroll()"><i class="fas fa-euro-sign" style=""></i></a>
                                            <i class="fas fa-shopping-cart my-auto " style=""></i>
                                        {% endif %}
                                        {% if aitem.quantity == product.stock %}
                                            <i class="fas fa-ban my-auto my-auto mx-auto text-danger" style=""></i>
                                            <i class="fas fa-mobile my-auto mx-auto" style=""></i>
                                        {% endif %}    
                                    {% endif %}
                                {% endfor %}            
                                    

                                {% for aitem in cart_items %}
                                    {% if aitem.product.id == product.id and not forloop.last %}
                                        
                                        {% if aitem.quantity == product.stock %}
                                            <i class="fas fa-ban text-warning my-auto my-auto mx-auto" ></i>
                                            <i class="fas fa-shopping-cart my-auto " style=""></i>
                                        {% endif %}                            

                                        {% if aitem.product.id == product.id and aitem.quantity < product.stock  %}
                                            <a href="{% url 'add_cart' product.id %}?source=ind" class=" my-auto mx-auto text-warning" onclick="SameScroll()"><i class="fas fa-store" style=""></i></a>
                                            <i class="fas fa-shopping-cart my-auto " style=""></i>
                                        {% endif %}                            
                                    {% endif %}                              
                                {% endfor %} 
                                    
                                {% for i in in_cart %}
                                    {% if product.id == i %}
                                        {% if cart_items.product.i == product.stock %}
                                        <a href="{% url 'add_cart' product.id %}?source=ind" class=" my-auto mx-auto text-dark" onclick="SameScroll()"><i class="fas fa-plus" style=""></i></a>
                                        <i class="fas fa-shopping-cart my-auto " style=""></i>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                
                                {% for i in not_in_cart %}
                                    {% if product.id == i %}
                                        <a href="{% url 'add_cart' product.id %}?source=ind" class=" my-auto mx-auto text-warning" onclick="SameScroll()"><i class="fas fa-plus" style=""></i></a>
                                        <i class="fas fa-shopping-cart my-auto " style=""></i>
                                        <span class=" my-auto mx-auto"></span>
                                    {% endif %}
                                {% endfor %}
               
                                   
                                
                                

                            {% endif %}



                            {% if not cart_items %}
                            <span class="mx-auto my-auto" style="display: flex;justify-content:space-between;width:40%;border: 1px solid rgb(240, 173, 78); border-radius: 20px;height:91%;background-color:#f0f0f0;">
                            <a href="{% url 'add_cart' product.id %}?source=ind" class=" my-auto mx-auto " onclick="SameScroll()"><i class="fas fa-sms"></i></a>
                            <i class="fas fa-shopping-cart my-auto mx-auto" style=""></i>
                            <span class=" my-auto mx-auto"></span>
                            
                            {% endif %}

                            {% if cart_items %}
                            {% for item in cart_items %}
                            {% if item.product.id == product.id %}
                            <a href="{% url 'cart_remove' product.id %}?source=ind" class=" my-auto mx-auto " onclick="SameScroll()"><i class="fas fa-minus" style=""></i></a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            
                            
                            </span>
                            <span clas="" style="width:50%;text-align:center;"> € {{product.price}}</span>
                        </p>
                        {% else %}
                            <p class="mx-auto text-info font-weight-bold py-2 px-3 my-auto" style="font-size:16px">Out of Stock</p>
                            
                            
                        {% endif %}
                        <br>
					</div>



				</div>
			</div>
			{% endfor %}
		</div>
	</div>
