
{% extends "base.html" %}
{% load static %}
<!-- { load timetags %} -->

{% block title %}
Mobile Central
{% endblock %}
{% block content %}
<script src="https://smtpjs.com/v3/smtp.js"></script>
<div class="text-center" style="margin-bottom:50px;">
    <div class="container" style="width:75%;">
	<br>
	<br>
    {% if request.user.is_authenticated and request.user.first_name %}
	<h1 class="text-center product_title">
		Thanks for contacting us, {{ name }}
	</h1>

	{% else %}
	<h1 class="text-center product_title">
		Thanks for contacting us, {{ name }}
	</h1>
	{% endif %}
	<br>
	
	<h5>Your message :</h5>
    <br>
    
    <h6 style="font-style: italic;" id="message"> {{ message }} </h6>
    
    <br>
    <br>
    <h5>Has been successfully sent to the store owner.</h5>
    </div>
</div>
<input type="hidden" id="emailJSidMM" name="variable" value="{{ emailJSidMM }}">
<input type="hidden" id="emailJSsendMessage" name="variable" value="{{emailJSsendMessage}}">




<script type="text/javascript">
window.addEventListener("load", sendMessage());


function sendMessage(){
    
    
    var emailJSidMM = document.getElementById("emailJSidMM").value;
    var emailJSsendMessage = document.getElementById("emailJSsendMessage").value;
    
    var message = document.getElementById("message").innerHTML;
    
    {% if request.user.is_authenticated and request.user.first_name %}
        var dear = "{{ name }}"; 
    {% else %}
        var dear = "{{ name }}";
    {% endif %}
    
    var eTime="{% now "jS F Y H:i" %}"
    var subject = "{{ subject }}";
    var emailTo = "{{ emailTo }}";
    
    
    emailjs.init(emailJSidMM);
        console.log('mace l ho ')
	    emailjs.send("mmmp4",emailJSsendMessage,{
	        "dear":dear,
            "emailTo":emailTo,
            "message":message,
            "eTime":eTime,
            "subject":subject,

	    });
    

}
</script>

{% endblock %}